main{
    display: grid;
    max-width: 50%;
    margin: 0 auto;
    border: 0;

}
h1{
    text-align: center;
    top: 45px;
    left: 100px;
    margin: 0 auto;
    border: 0;

}
footer{
    text-align: center;
}