
:root{
    --primary-color: #A54C40;
    --secondary-color: #54e68c;
    --accent1-color: #99802f;
    --accent2-color: #FECF00;
    --paragraph-font:'Montserrat',sans-serif;
    --heading-font:'Urbanist', Sans-serif;
    --nav-background-color: #7f6fca;
    --nav-link-color: #A54C40;
    --nav-hover-link-color: #000000;
    --nav-hover-backgroung-color: #ffffff;
}
    
main{
    display: grid;
    max-width: 50%;
    margin: 0 auto;
    border: 0;
    padding: 10px; ;

}
h1{
    text-align: center;
    top: 45px;
    left: 100px;
    margin: 0 auto;
    border: 0;
    color: var(--nav-background-color);

}
footer{
    text-align: center;
    color: #A54C40;
}